body {
    margin: 0px;
    height: 100vh;
}

section {
    display: grid;
    grid-template-rows: 70px 1fr;
}

header {
    align-content: center;
    color: white;
    text-align: center;
    font-size: 24px;
    background: linear-gradient(135deg, #333, #555);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-transform: uppercase;
}
.heading{

    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #f7f7f7; /* Light background */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

main {
    margin: 10px;
    display: grid;
    grid-template-rows: 100px  1fr;
}

#addBtn {
    margin-top: 20px;
    margin: 9px;
    height: 30px;
    width: 100px;
    background-color: #02c935;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
#addBtn:hover{
    background-color: #24a02c;
    transition: background-color 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);

}

#bookDialog {   
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    padding: 30px;

}

.dialog-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 300px;
    width: 200px;
}

.dialog-content label {
    font-weight: bold;
}

.dialog-content input {
    padding: 8px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.dialog-content input:focus:user-invalid{
    border: 1px solid red;
    box-shadow: 0 0 5px red;
    outline: 1px solid red;
}
.dialog-content input:not([type="checkbox"]):focus:user-valid{
   border: 1px solid green;
   box-shadow: 0 0 5px green;
   outline: 1px solid green;

}
.read{
    display: flex;
justify-content: center;
align-items: center;


}
.dialog-content .btns {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

.dialogBtn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
}



#closeBtn:hover , .removeBtn:hover{
background-color: #ff4a4a;
transition: background-color 0.2s ease-in-out;
transition: box-shadow 0.2s ease-in-out;
box-shadow: 0 2px 10px rgba(0,0,0,0.2);

}

#addBookBtn:hover, .toggleReadBtn:hover{
background-color: #17c243;
transition: background-color 0.2s ease-in-out;
transition: box-shadow 0.2s ease-in-out;
box-shadow: 0 2px 10px rgba(0,0,0,0.2);

}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}


.library{
    background-color: #f7f7f7;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 20px auto;
    max-width: 1200px;
    gap: 8px;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
}

.book-card{
background-color: #ddd;
border-radius: 9px;
padding: 20px;
transition: transform 0.2s ease-in-out;
}
.book-card:hover{
   transform: scale(1.05);
    box-shadow: 0 0 2px black;
}

/* .book-card button:hover{
   background-color: #555;
} */

.book-card button{
   background-color: #333;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   padding: 10px;
    margin: 5px;
}